@import 'common.scss';
@import 'var.scss';
@import 'mixin.scss';

@media(max-width:1770px){
    
    .container {
        max-width: 1200px;
    }

    .header {
        align-items: flex-start;
        &_logo {
          flex: 1 1 10%;
          margin-left: 0px;
        }
        &_logo img {
            max-width: 187.23px;
        }
    
        #logo-line {
            flex: 1 1 1%;
            margin-left: 0px;
            max-height: 62px;
        }
    
        &_description {
            flex: 1 1 10%;
            margin-left: 0px;
            margin-top: 6px;
            font-size: 10px;
            line-height: 14px;
        }
    
        #phone {
            margin-right: 4.19px;
        }
        &_number {
            flex: 1 1 21%;
            margin-top: 10px;
            font-size: 18px;
            line-height: 35px;
        }
    
        &_btn {
            flex: 1 1 10%;
            font-size: 18px;
            line-height: 35px;
            padding: 5px 15px;
            margin-top: 4px;
        }
    
        #enter {
            margin-right: 14px;
            margin-bottom: -4px;
        }
        &_breadcrumbs {
            margin-top: 62px;
            margin-left: 0px;
            &_link {
                @include breadCrumbs;
            }
    
        }
    }

    .nav {
        flex: 1 1 34%;
        &_select {
            margin-left: 44px;
            margin-top: 9px;
            font-size: 18px;
            line-height: 35px;
           
        }
        &_link {
            margin-top: 8px;
            margin-left: 40.45px;
            font-size: 18px;
            line-height: 35px;
        }      
    }

    main {
        #leftEllipse{
            width: 50px;
            height: 279px;
            top: 22px;
            left: -24px;
        }
        #rightEllipse {
           display: none;
        }
        .hero {  
            &_content {
                flex: 1 1 55%;
    
                &_title {
                    margin-left: 0;
                    margin-bottom: 26px;
                    font-size: 46px;
                    line-height: 65px;
                }   
                
                &_price {
                    margin-left: 0;
                    margin-bottom: 28px;
                                            
                }
                &_description {
                    margin-left: 0;
                    font-size: 20px;
                }
            }
    
            &_img {
                background-size: contain;
            }
            #stars {
                max-width: 458px;
                max-height: 458px;
            }
        }
        .backstory {
            margin-top: 61px;
    
            &_title {
               max-width: 652px;
                font-size: 40px;
            }
    
            &_cards {
                margin-top: 99.93px;
    
                &_list {
                    display: flex;
    
                    &_description {
                        font-size: 20px;
                        max-width: 563px;
                        margin-left: 81px;
                        margin-bottom: 58px;
                    }
    
                    .second_description {
                        margin-left: 100px;
                        margin-right: 50px;
                        margin-bottom: 58px;
                    }
                }
    
                .backstory_firstImg{
                    max-width: 350.66px;
                   background-size: contain;
                   margin-left: 100px;
                   margin-top: -16px;
                }
                .backstorySecondImg {
                   max-width: 350.66px;
                   background-size: contain;
                   margin-top: 22px;
                   margin-left: 30px;
                   
                }
            }
        }
        .learn {
            margin-top: 156px;
            margin-bottom: 121px;
            &_title {
                max-width: 641.96px;
                font-size: 39.9977px;
            }
    
            &_description {
                max-width: 683.96px;
                font-size: 19.9988px;
                margin-bottom: 66px;
            }
    
            &_cards {
                
    
                &_list {
                    max-width: 225.99px;
                    .learn_card_title {
                        font-size: 19.9988px;
                    }
                    .learn_card_description {
                        font-size: 15.9991px;
                    }

                    .learn_card_list_icon {
                        max-width: 100px;
                        max-height: 100px;
                    }
                    
                }
            }
        }
    }
}   