@import 'common.scss';
@import 'var.scss';

@mixin headerText {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
}

@mixin breadCrumbs {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(51, 26, 47, 0.5);
}

@mixin MainTitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
}

@mixin main_content_description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 160%;
    color: rgba(51, 26, 47, 0.8);
}

@mixin h2_title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #331A2F;
}

@mixin cardTitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #331A2F;
}

@mixin cardDescription {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: rgba(51, 26, 47, 0.8);

}